<div class="background-image"></div>
<div class="container">
    <h1>Currency Information</h1>
    <ul>
        <li><strong>USD:</strong> United States Dollar</li>
        <li><strong>EUR:</strong> Euro</li>
        <li><strong>GBP:</strong> British Pound</li>
        <li><strong>JPY:</strong> Japanese Yen</li>
        <li><strong>AUD:</strong> Australian Dollar</li>
        <li><strong>INR:</strong> Indian Rupee</li>
        <li><strong>CAD:</strong> Canadian Dollar</li>
    </ul>
    <button (click)="goToHome()">Back to Home</button>
</div>